{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} File Creation {% endblock %}</h1>
{% for date in messages %}
<div class='message'>
    <p>{{ date['month'] }}</p>
    <p>{{ date['day'] }}</p>
    <p>{{ date['year'] }}</p>
</div>
{% endfor %}


<p>Welcome to the Weekly Planner!</p>

<p>Let's Create a File</p>
{% for date in messages %}
<form action="/createfile/{{ date['year'] }}/{{ date['month'] }}/{{ date['day'] }}" method="post">
    <label for="month">Month: {{ date['month'] }}</label>
    <label for="day">Day: {{ date['day'] }}</label>
    <label for="year">Year: {{ date['year'] }}</label>
    <button name="createFile" type="submit">Create Test File</button>
</form>
{% endfor %}


{% endblock %}