{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} File Creation {% endblock %}</h1>
{% for date in messages %}
<div class='message'>
    <p>{{ date['month'] }}</p>
    <p>{{ date['day'] }}</p>
    <p>{{ date['year'] }}</p>
</div>
{% endfor %}


<p>Welcome to the Weekly Planner!</p>

<p>Let's Create a File</p>
<form action="/createfile" method="post">
    <label for="month">Month</label>
    <label for="day">Day</label>
    <label for="year">Year</label>
    <button name="createFile" type="submit">Create Test File</button>
</form>


{% endblock %}